@use "../abstracts/variables" as *;

.current-weather {
  border-radius: 10px;
  color: white;
  background: $day-background-color;
  padding: 1.5rem 1rem;
  box-shadow: $box-shadow;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-items: center;

  grid-template-areas:
    "city city"
    "icon temperature"
    "status status"
    "low-high low-high"
    "stats stats";

  &--night {
    background: $night-background-color;
  }

  &--sunrise-sunset {
    background: $morning-afternoon-background-color;
  }

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__city {
    font-size: 2.4rem;
    font-weight: bold;
    grid-area: city;
  }

  &__icon {
    width: 8rem;
    grid-area: icon;
    justify-self: end;
  }

  &__temperature {
    font-size: 3.2rem;
    font-weight: bold;
    grid-area: temperature;
    justify-self: start;
    align-self: center;
    margin-left: 2rem;
  }

  &__status {
    font-size: 2.4rem;
    font-weight: lighter;
    grid-area: status;
  }

  &__low-high {
    display: flex;
    grid-area: low-high;
    text-align: center;

    & > * + * {
      margin-left: 2rem;
    }

    &__temp > span {
      font-weight: lighter;
      display: block;
    }
  }

  &__stats {
    display: flex;
    justify-content: center;
    grid-area: stats;

    &__info {
      display: grid;
      grid-template-columns: 4rem 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "icon type"
        "icon text";

      &__icon {
        width: 4rem;
        grid-area: icon;
      }

      &:last-child {
        margin-left: 1.6rem;
      }
    }
  }

  @media screen and (min-width: $medium-device) {
    // padding: 5rem 1rem;
    min-height: 30rem;
    grid-template-areas:
      "icon city"
      "icon temperature"
      "icon status"
      "icon low-high"
      "icon stats";

    place-content: center;

    & > *:not(:last-child) {
      margin: 0;
    }

    & > * {
      justify-self: start;
      align-self: center;
    }

    & > *:not([class*="icon"]) {
      margin-left: 1.5rem;
    }

    &__icon {
      width: 22rem;
      align-self: center;
    }

    &__temperature {
      align-self: end;
    }

    &__status {
      align-self: start;
    }

    &__low-high {
      span {
        display: inline-block;
        margin-left: 0.5rem;
      }
    }

    &__stats {
      align-self: end;
    }
  }
}
