@use "../abstracts/variables" as *;
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

body {
  font-family: "Lato", sans-serif;
  background: $page-background;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

input {
  font-family: inherit;
  outline: none;
  border: none;
  display: inline-block;
}

label {
  display: inline-block;
}

button {
  font-family: inherit;
  border: transparent;
  background-color: transparent;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}
