@use "../abstracts/colors" as *;
@use "../base/typogrpahy" as *;

.meal {
  text-align: center;
  background-color: $secondary-color;

  & > * {
    margin-bottom: 0.5rem;
  }

  #{&}-image {
    height: 250px;
    width: 100%;
  }

  #{&}-desc {
    font-size: 0.9rem;
    font-family: $lato;
    padding: 0 0.8em;
  }

  #{&}-order-button {
    color: $text-color;
    font-family: $lato;
    background-color: $accent-color;
    border: none;
    border-radius: 100px;
    padding: 0.5em 2em;
  }
}
