@use "../abstracts/colors" as *;
@use "../base/typogrpahy" as *;
.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0.8em;
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: background-color 0.3s ease;

  li button {
    color: $text-color;
    font-family: $lato;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.15rem;
  }

  li button:hover {
    color: $accent-color;
  }

  li + li {
    margin-left: 1em;
  }

  &.scrolled {
    background-color: $accent-color;

    li button:hover {
      color: $secondary-color;
    }
  }
}
