// Header sizes
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

// Regular Text
.content-text {
  font-size: 1.6rem;
}

// Component sizes
.btn {
  font-size: 1.6rem;
}

.input {
  font-size: 1.6rem;
}
