// Header sizes
.header-one {
  font-size: 3.2rem;
}

.header-two {
  font-size: 2.4rem;
}

.header-three {
  font-size: 1.8rem;
}

// Regular Text
.content-text {
  font-size: 1.8rem;
}

// Component sizes
.btn {
  font-size: 1.8rem;
}

.input {
  font-size: 1.6rem;
}
