//Utility Classes

$text-color: white;
$youtube-body-color: #181818;

.container {
  width: 100%;
  max-width: 1500px;
  margin: 1.5rem auto;
  padding: 0 1rem;
}

.gray-line{
  background-color: #525252;
  height:1px;
}
