*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f1faee;
  --red-color: #e42535;
  --blue-color: #1d3557;
  --light-blue-color: #a8dadc;
}

body {
  background-color: var(--background-color);
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.x-mark {
  color: var(--red-color);
}

.o-mark {
  color: var(--blue-color);
}

header .page-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

header .x-mark,
header .o-mark {
  text-decoration: underline;
}

.game-area {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  min-height: 300px;
  padding: 0.8em;
}

.game-board {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-board .game-tile {
  border: 1px solid gray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board .game-tile.x-mark,
.game-board .game-tile.o-mark {
  font-weight: 700;
  font-size: 2rem;
}

/* Player Section */
.player-area {
  padding: 0.7em;
  text-align: center;
}

.player-area .player-name {
  height: 2rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.player-area .win-amount{
  margin-top: 1rem;
}

.player-area input {
  padding: 0.3em 0.8em;
  font-family: inherit;
  width: 90%;
  border-radius: 100px;
  border: 1px solid gray;
  height: 30px;
  transition: padding, height 1s ease;
}

.player-area input.hidden {
  padding: 0;
  height: 0;
  border: none;
}

.player-area .x-mark,
.player-area .o-mark {
  font-size: 2rem;
  font-weight: 700;
}

.player-area .x-mark.underline,
.player-area .o-mark.underline {
  text-decoration: underline;
}

.player-area:nth-child(1) input:focus {
  border-width: 2px;
  border-color: var(--red-color);
}

.player-area:nth-child(3) input:focus {
  border-width: 3px;
  border-color: var(--blue-color);
}

.player-area > * {
  margin-bottom: 1rem;
}

/* Game options */
.game-options {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.game-options > * {
  margin-bottom: 1rem;
}

.game-status,
.game-message {
  height: 30px;
  margin: 0.5rem 0;
}

.board-options > button {
  color: white;
  background-color: var(--blue-color);
  border: 1px solid var(--blue-color);
  padding: 0.5em 1em;
  width: 150px;
  border-radius: 100px;
  font-family: inherit;
  cursor: pointer;
}

.create-game > button {
  color: white;
  background-color: var(--red-color);
  padding: 0.5em 1em;
  border: 1px solid var(--red-color);
  border-radius: 100px;
  font-family: inherit;
  cursor: pointer;
}

.board-options > button.disabled,
.create-game > button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
